.mainBlock {
    /* margin: 0 auto; */
    /* display: flex; */
    gap: 60px;
    text-align: center;
    margin-top: 60px;
}
.mainBlock div {
    font-size: 24px;
}
.mainBlock span {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 25px;
}
.load {
    font-size: 46px;
}

.mainBlock button {
    margin-left: 50px;
    margin-top: 50px;
    width: 150px;
    height: 50px;
}