.postName {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: 250ms;
}

.link:hover {
    color: red;
}